<div class="row header-bar">
    <div class="col-md-logo">
            <img src="../../../assets/images/Logo Exetra05x.png" class="logo">
       </div>
        
        <div class="col-md">
          <img class="icon-search" src="../../../assets/icons/search.svg">
        </div>
        <div class="col-4">
          <div class="row">
              <div class="col-2 single-item">
                   <img  class="icon" src="../../../assets/icons/calendar.svg">
              </div>
              <div class="col-2 single-item">
                    <img class="icon" src="../../../assets/icons/notification.svg">
                  
              </div>
              <div class="col-8">
                  
                    <div class="row account-container">
                      <div class="col-2">
                        <img class="icon" src="../../../assets/icons/user.svg">
                      </div>
                      <div class="col-8">
                        <p class="user-account">{{user}}</p>
                      </div>
                      
                      </div>
                    
                    
                  </div>
               
              </div>
        </div>
    </div> 
