.container-wrapper {
    background-image: url('../../assets/images/login.jpg');
    height: 100vh;
    background-repeat: round;
}

.form-container {
    width: 600px;
    height: 331px;
    position: fixed;
    left: 30%;
    top: 30%;
}

.wrapper{
    background-color: rgba(0, 62, 87, 0.8);
    /* opacity: 80%; */
    height: 100vh;
}




.login {
    color:#ffff;
    background-color: #E9510D;
    width: 364px!important;
height: 44px!important;
border-radius: 6px;
padding: 8px, 14px, 8px, 14px;
gap: 8px;

    
}

.mat-checkbox {
  font-size: 16px;
  
}

.pl-1 {
    padding-left: 5%;
}

.mat-checkbox-frame {
    border-color: #ffff!important;
  }

  .mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color:  #E9510D;
}

.login-checkbox {
    height: 16px;
    width: 16px;
    border-radius: 2px;
    background-color: transparent;
}

.login-form{
    width: 364px;
    height: 42px;
    border-radius: 6px;
    gap: 8px;
    padding-left: 44px;
    background-color: #ffff!important;
    border: none;
}

.danger {
    border: 2px solid #F44336;
}

.login-form:focus-visible{
    outline: none;
}


.user {
    background: url('../../assets/icons/user_account.svg') no-repeat left;
    background-position: 12px 9px;

}

.password{
    background: url('../../assets/icons/password.svg') no-repeat left;
    background-position: 12px 9px;
}


.pl-1 {
    padding-left: 15px;
}